@using Microsoft.AspNetCore.Identity;
@inject SignInManager<IdentityUser> SignInManager

@{
    ViewData["Title"] = "Home Page";
}

<div>
    @if (!SignInManager.IsSignedIn(User))
    {
        <div class="page-container">
            <header class="text-center">
                <h1 class="display-4">Welcome to Aviask</h1>
                <h4>Number of questions available : @ViewData["QuestionCount"]</h4>
            </header>

            <hr/>
            <br />

            <section class="text-center">
                <h5>Register and start browsing questions of various themes around aviation !</h5>

                <p>TODO: permettre à l'utilisateur de faire une série de questions sans compte, pour tester</p>

                <a role="button" class="btn btn-primary" id="register"
               asp-area="Identity" asp-page="/Account/Register">Register</a>
                <a role="button" class="btn btn-primary" id="login"
               asp-area="Identity" asp-page="/Account/Login">Sign in</a>
            </section>
        </div>
    } else
    {
        @section Scripts {
        <script async>
            const weekCountElement = document.getElementById("week-count")
            const lifetimeRatioElement = document.getElementById("lifetime-ratio")
            const favoriteThemesListElement = document.getElementById("list-favourite-themes")
            const mostCorrectThemeElement = document.getElementById("most-correct-theme")

            const now = new Date().getTime();
            const week_millis = 7 * 24 * 60 * 60 * 1000;

            fetch(`${window.location.origin}/home/userstatistics`)
            .then(async (result) => {
                const json = await result.json()
                console.log(json)
                updateUi(json);

                return result;
            })
            .catch((error) => {
                console.error(error)
            });

            function updateUi(stats){
                weekCountElement.innerHTML = `You answered <b>${stats.lastWeekRecordsCount}</b> question(s) the <u>last 7 days</u>.`
                lifetimeRatioElement.innerHTML = `Lifetime answer correctness : <b>${stats.ratioCorrectness * 100}%</b> [<span style="color:green">${stats.correctLifetime}</span> / <span style="color:red">${stats.failLifetime}</span>]`
                mostCorrectThemeElement.innerHTML = `Theme with most correct answers : <u>${stats.mostCorrectlyTheme.subCategoryName}</u> (<b>${stats.mostCorrectlyTheme.correctAnswerCount}</b> correct answers)`

                stats.favoriteThemes.forEach((theme) => {
                    let newListItem = document.createElement("li")
                    newListItem.classList.add("list-group-item")
                    newListItem.classList.add("fav-theme-container")

                    let aCategoryName = document.createElement("a")
                    aCategoryName.textContent = theme.subCategoryName
                    aCategoryName.href = `/Questions?subcategory=${theme.subCategoryName}`

                    let spanAnswerCount = document.createElement("span")
                    spanAnswerCount.textContent = theme.answerCount;
                    spanAnswerCount.style.fontWeight = "bold";

                    newListItem.appendChild(aCategoryName)
                    newListItem.appendChild(spanAnswerCount)

                    favoriteThemesListElement.appendChild(newListItem);
                });
            }
            


        </script>
        }

        <div class="page-container">
            <header class="text-center">
                <h1 class="display-4">Your dashboard</h1>
                <hr />
                <a asp-controller="Questions" class="button button-primary" asp-action="Index">Browse questions</a>
            </header>

            <br/>
                
            <div class="cards-container">
                <section class="card">
                    <div class="card-body">
                        <h5 class="card-title">Your activity</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Your recent activity on Aviask</h6>
                        <p class="card-text" id="week-count">TODO: afficher le nombre de question répondues dans la semaine</p>
                        <p class="card-text" id="lifetime-ratio">TODO: afficher le ratio de question bonnes / mauvaises lifetime</p>
                        <a class="card-link" asp-controller="Questions" asp-action="Index">Browse some questions</a>
                    </div>
                </section>

                <section class="card">
                    <div class="card-body">
                        <h5 class="card-title">Favorite themes</h5>
                        <h6 class="card-subtitle mb-2 text-muted">The themes you answered the most</h6>
                        <ul id="list-favourite-themes" class="list-group list-group-flush"></ul>

                        <span id="most-correct-theme"></span>
                    </div>
                </section>

                <section class="card">
                    <div class="card-body">
                        <h5 class="card-title">Autre carte</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Trouver une autre carte</h6>
                        <p class="card-text">Trouver une 3e carte à mettre blablablablablablalbla</p>
                    </div>
                </section>
            </div>
        </div>
       
    }
</div>
