@using Microsoft.AspNetCore.Identity;
@inject SignInManager<IdentityUser> SignInManager

@{
    ViewData["Title"] = "Home Page";
}

<div>
    @if (!SignInManager.IsSignedIn(User))
    {
        <div class="page-container">
            <header class="text-center">
                <h1 class="display-4 mb-4">Welcome to Aviask</h1>
                <h4>Number of questions available : @ViewData["QuestionCount"]</h4>
            </header>

            <hr/>
            <br />

            <section class="text-center">
                <h3 class="display-6 mb-5">Prepare your aviations theorical exams.</h3>
                <h4 class="mb-4">Register and have access to a wide range of aviation related questions,
                    from real ATPL exams, as well as other types of tests.
                </h4>
                <h5 class="mb-5">
                    Hesitating ? You can try a bunch of questions without account
                    <a asp-action="Index" asp-controller="Questions"
                       style="font-size: 1.3em;">here</a>.
                </h5>

                <a role="button" class="button button-primary" id="register"
                 asp-area="Identity" asp-page="/Account/Register"
                 style="transform: scale(3);">Register</a>

                <a role="button" class="button button-secondary" id="login"
                asp-area="Identity" asp-page="/Account/Login"
                style="transform: scale(1.3);">Sign in</a>
            </section>
        </div>
    } else
    {
        @section Scripts {
            <script src="~/js/index.js"></script>
        }

        <div class="page-container">
            <header class="text-center">
                <h1 class="display-4">Your dashboard</h1>
                <hr />
                <a role="button" asp-controller="Questions" class="button button-primary" asp-action="Index">Browse questions</a>               
            </header>

            <br/>
                
            <div class="cards-container">
                <section class="card">
                    <div class="card-body">
                        <h5 class="card-title mb-2">Your activity</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Your recent activity on Aviask</h6>
                        <p class="card-text" id="week-count">TODO: afficher le nombre de question répondues dans la semaine</p>
                        <p class="card-text" id="lifetime-ratio">TODO: afficher le ratio de question bonnes / mauvaises lifetime</p>
                        
                        <div style="display: flex; justify-content: space-between; gap: 1em;">
                            <a  asp-controller="Questions" asp-action="Index" class="button button-primary">Browse some questions</a>
                            <a asp-controller="AnswerRecords" asp-action="Index" class="button button-secondary">Answers history</a>
                        </div>
                    </div>
                </section>

                <section class="card">
                    <div class="card-body">
                        <h5 class="card-title mb-2">Favorite themes</h5>
                        <h6 class="card-subtitle mb-2 text-muted">The categories you answered the most</h6>
                        <ul id="list-favourite-themes" class="list-group list-group-flush"></ul>
                        
                        <br/>
                        <span id="most-correct-theme"></span>
                    </div>
                </section>
            </div>
        </div>
       
    }
</div>
