@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<div class="flex gap-4">
    @if (SignInManager.IsSignedIn(User))
    {
        if (User.IsInRole("admin"))
        {
            <a class="text-[#dc3545]" asp-controller="AviaskUsers" asp-action="Index">Users</a> 
        }
        
        <a asp-controller="Identity" asp-action="Profile">@User.Identity.Name</a>

        <form class="form-inline" asp-controller="Identity" asp-action="Logout" asp-route-returnUrl="@Url.Action("Index", "Home")">
            <button id="logout" type="submit" class="nav-link btn btn-link text-dark border-0">
                <i class="fa-sharp fa fa-arrow-right-from-bracket"></i>
                Logout
            </button>
        </form>
    }
    else
    {
        <a  asp-controller="Identity" asp-action="Register">Register</a>
        <a class="text-blue-500 font-medium" asp-controller="Identity" asp-action="Login">Login</a>
    }
</div>
