:root {
    --primary-color: #0060EE;
    --primary-darker: #105CCB;
    --secondary-color: #7C4FD7;
    --secondary-darker: #6942B8;
    --important-color: #E02E2E;
    --important-darker: #BC2626;
    --accent-color: #009933;
}

@keyframes CorrectAnimation {
    100% {
        background-color: #51884D;
        border-color: rgba(0, 0, 0, 0.35);
    }
}

@keyframes WrongAnimation {
    100% {
        background-color: #DC4646;
        border-color: rgba(0, 0, 0, 0.35);
    }
}

.button {
    all: unset;
    display: inline-block;
    padding: 6px 12px;
    border: solid 3px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    cursor: pointer;
    vertical-align: middle;
    text-align: center;
    white-space: nowrap;
    transition: all 0.15s ease-in-out;
}

a.button {
    text-decoration: none;
}

.button:active {
    transition: all 0.14s ease;
    transform: translateY(4px);
    transform: scale(0.97);
}

.button > a {
    text-decoration: none;
}

.button > a:visited {
    color: inherit;
}

/*  Primary */
a.button-primary, button.button-primary {
    border-color: rgba(255, 255, 255, 0.1);
    background: var(--primary-color);
    color: white;
}

.button-primary:hover {
    background: var(--primary-darker);
}

/*  Secondary   */
.button-secondary {
    background: var(--secondary-color);
    color: white;
}

.button-secondary:hover {
    background: var(--secondary-darker);
}

/*  Important   */
.button-important {
    background-color: var(--important-color);
    color: white;
}

.button-important:hover {
    background-color: var(--important-darker);
}
