@using Microsoft.AspNetCore.Identity;
@model IdentityUser

@{
    ViewData["Title"] = $"{Model.UserName}'s profile";
}

<h1 class="text-4xl font-semibold my-4"><u>@Model.UserName</u>'s profile</h1>

<hr class="border-[#c7c8c9] border-t border-b my-4" />


